<% content_for(:page_header) do %>
  Categories
<% end %>
<section class="panel">
  <header class="panel-heading">
    <div class="panel-actions">
      <a href="#" class="fa fa-caret-down"></a>
    </div>

    <h2 class="panel-title">List Categories</h2>
  </header>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover mb-none">
        <thead>
          <tr>
            <th>#</th>
            <th><%= t ".name" %></th>
            <th><%= t ".description" %></th>
            <th><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each_with_index do |category, index| %>
            <%= render "category", category: category, index: index %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<% content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "modify_category.js" %>
  </script>
<% end %>

<style type="text/css">
  /*.category_description {
    width: 100%;
  }*/
</style>
