<div class="errors"></div>
<div class="row">
  <%= form_for [:admin, product], html: {class: "form-horizontal form-bordered"} do |f| %>
    <div class="col-md-8">
      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
          </div>
          <h2 class="panel-title">Product Basic Info</h2>
        </header>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-3 control-label">Name <span class="required">*</span></label>
            <div class="col-md-6">
              <%= f.text_field :name, class: "form-control", placeholder: "eg.: John Doe", required: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Price <span class="required">*</span></label>
            <div class="col-md-6">
              <%= f.text_field :price, class: "form-control", placeholder: "eg.: 1000", required: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Sku</label>
            <div class="col-md-6">
              <%= f.text_field :sku, class: "form-control", placeholder: "eg.: John Doe" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-6">
              <%= f.text_area :description, class: "form-control", placeholder: "Describe for product", rows: 5 %>
            </div>
          </div>
        </div>
      </section>
      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
          </div>
          <h2 class="panel-title">Listing Media</h2>
        </header>
        <div class="panel-body" style="position: relative;">
          <%= f.file_field :images, accept: "image/png,image/gif,image/jpeg", multiple: true, style: "display:none" %>
          <% if attachments.present? %>
            <%= render partial: "image", collection: attachments, as: :image %>
          <% end %>
          <div id="image_preview"></div>
          <%= button_tag "SELECT IMAGE", id: "add_image", class: "btn btn-success" %>
          <p class="full_form full_form_image">
            * At least 1 image is required for a valid submission.<br>
            ** Double click on the image to select featured.<br>
            *** Change images order with Drag &amp; Drop.<br>
            **** Max size image 5mb
          </p>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
          </div>
          <h2 class="panel-title">Select Categories</h2>
        </header>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-4">Category <span class="required">*</span></label>
            <div class="col-md-6">
              <%= f.select :category_id, options_for_select(categories, f.object.category_id),
                {:include_blank => 'Choose a Category'}, {class: "form-control", required: true} %>
            </div>
          </div>
        </div>
      </section>
      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
          </div>
          <h2 class="panel-title">Select Product Status</h2>
        </header>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-4">Property Status</label>
            <div class="col-md-6">
              <select class="form-control mb-md">
                <option>Normal</option>
                <option>Sale</option>
                <option>New</option>
              </select>
            </div>
          </div>
        </div>
      </section>
      <section class="panel">
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
          </div>
          <h2 class="panel-title">Listing Details</h2>
        </header>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-4">Size</label>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Size</label>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Size</label>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Size</label>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Size</label>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Size</label>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Size</label>
            <div class="col-md-6">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-12">
      <%= f.submit "Submit", id: "submit_product", class: "btn btn-primary", style: "width: 100%;" %>
    </div>
  <% end %>
</div>

<% content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "image.js", attachments: attachments %>
    <%= render "submit_form.js" %>
  </script>
<% end %>

<style type="text/css">
  #image_preview {
    float:left;
    width:100%;
  }

  #image_preview .image_wrap{
    float:left;
    margin:  0px 10px 15px 0px;
    position: relative;
    max-width: 233px;
    overflow: hidden;
  }

  #image_preview .image_wrap i{
    position:absolute;
    top:0px;
    left:0px;
    background-color:#a51e6c;
    color:#fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
  }

  #image_preview .image_wrap .thumber {
    left:auto;
    right: 0px;
    cursor: none;
  }

  #image_preview .image_wrap img{
    cursor:pointer;
    height: 143px;
    width: 255px;
  }
</style>
